CSU_MIT/MIT.Aplicacoes.CCT_Processamento_Diferencas_Cambio/Service References/Service_MIT_MotoresErp/MIT_MotoresErp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MIT_MotoresErp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61570/MIT_MotoresErp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61570/MIT_MotoresErp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61570/MIT_MotoresErp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MIT.WCF_Services" />
      <xsd:import schemaLocation="http://localhost:61570/MIT_MotoresErp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:61570/MIT_MotoresErp.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMIT_MotoresErp_AbreEmpresaPrimavera_InputMessage">
    <wsdl:part name="parameters" element="tns:AbreEmpresaPrimavera" />
  </wsdl:message>
  <wsdl:message name="IMIT_MotoresErp_AbreEmpresaPrimavera_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbreEmpresaPrimaveraResponse" />
  </wsdl:message>
  <wsdl:message name="IMIT_MotoresErp_Empresa_Moedas_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_Moedas" />
  </wsdl:message>
  <wsdl:message name="IMIT_MotoresErp_Empresa_Moedas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_MoedasResponse" />
  </wsdl:message>
  <wsdl:message name="IMIT_MotoresErp_Pendentes_Gravar_Diferencas_Cambio_InputMessage">
    <wsdl:part name="parameters" element="tns:Pendentes_Gravar_Diferencas_Cambio" />
  </wsdl:message>
  <wsdl:message name="IMIT_MotoresErp_Pendentes_Gravar_Diferencas_Cambio_OutputMessage">
    <wsdl:part name="parameters" element="tns:Pendentes_Gravar_Diferencas_CambioResponse" />
  </wsdl:message>
  <wsdl:portType name="IMIT_MotoresErp">
    <wsdl:operation name="AbreEmpresaPrimavera">
      <wsdl:input wsaw:Action="http://tempuri.org/IMIT_MotoresErp/AbreEmpresaPrimavera" message="tns:IMIT_MotoresErp_AbreEmpresaPrimavera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMIT_MotoresErp/AbreEmpresaPrimaveraResponse" message="tns:IMIT_MotoresErp_AbreEmpresaPrimavera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empresa_Moedas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMIT_MotoresErp/Empresa_Moedas" message="tns:IMIT_MotoresErp_Empresa_Moedas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMIT_MotoresErp/Empresa_MoedasResponse" message="tns:IMIT_MotoresErp_Empresa_Moedas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pendentes_Gravar_Diferencas_Cambio">
      <wsdl:input wsaw:Action="http://tempuri.org/IMIT_MotoresErp/Pendentes_Gravar_Diferencas_Cambio" message="tns:IMIT_MotoresErp_Pendentes_Gravar_Diferencas_Cambio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMIT_MotoresErp/Pendentes_Gravar_Diferencas_CambioResponse" message="tns:IMIT_MotoresErp_Pendentes_Gravar_Diferencas_Cambio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMIT_MotoresErp" type="tns:IMIT_MotoresErp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AbreEmpresaPrimavera">
      <soap:operation soapAction="http://tempuri.org/IMIT_MotoresErp/AbreEmpresaPrimavera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Empresa_Moedas">
      <soap:operation soapAction="http://tempuri.org/IMIT_MotoresErp/Empresa_Moedas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pendentes_Gravar_Diferencas_Cambio">
      <soap:operation soapAction="http://tempuri.org/IMIT_MotoresErp/Pendentes_Gravar_Diferencas_Cambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MIT_MotoresErp">
    <wsdl:port name="BasicHttpBinding_IMIT_MotoresErp" binding="tns:BasicHttpBinding_IMIT_MotoresErp">
      <soap:address location="http://localhost:61570/MIT_MotoresErp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>