Fenix-Primavera/Primavera.WPF_Application_Test/Service References/ServicePrimavera/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Primavera_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Primavera.WebServices.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrimavera_Service_CriarAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarAluno" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_CriarAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_ActualizarAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAluno" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_ActualizarAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_CriarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:CriarFactura" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_CriarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_CriaOuActualizarContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:CriaOuActualizarContrato" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_CriaOuActualizarContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:CriaOuActualizarContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_ConsultaConta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaConta" />
  </wsdl:message>
  <wsdl:message name="IPrimavera_Service_ConsultaConta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaContaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrimavera_Service">
    <wsdl:operation name="CriarAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimavera_Service/CriarAluno" message="tns:IPrimavera_Service_CriarAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimavera_Service/CriarAlunoResponse" message="tns:IPrimavera_Service_CriarAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimavera_Service/ActualizarAluno" message="tns:IPrimavera_Service_ActualizarAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimavera_Service/ActualizarAlunoResponse" message="tns:IPrimavera_Service_ActualizarAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimavera_Service/CriarFactura" message="tns:IPrimavera_Service_CriarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimavera_Service/CriarFacturaResponse" message="tns:IPrimavera_Service_CriarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CriaOuActualizarContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimavera_Service/CriaOuActualizarContrato" message="tns:IPrimavera_Service_CriaOuActualizarContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimavera_Service/CriaOuActualizarContratoResponse" message="tns:IPrimavera_Service_CriaOuActualizarContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaConta">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrimavera_Service/ConsultaConta" message="tns:IPrimavera_Service_ConsultaConta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrimavera_Service/ConsultaContaResponse" message="tns:IPrimavera_Service_ConsultaConta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrimavera_Service" type="tns:IPrimavera_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarAluno">
      <soap:operation soapAction="http://tempuri.org/IPrimavera_Service/CriarAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAluno">
      <soap:operation soapAction="http://tempuri.org/IPrimavera_Service/ActualizarAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarFactura">
      <soap:operation soapAction="http://tempuri.org/IPrimavera_Service/CriarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriaOuActualizarContrato">
      <soap:operation soapAction="http://tempuri.org/IPrimavera_Service/CriaOuActualizarContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaConta">
      <soap:operation soapAction="http://tempuri.org/IPrimavera_Service/ConsultaConta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Primavera_Service">
    <wsdl:port name="BasicHttpBinding_IPrimavera_Service" binding="tns:BasicHttpBinding_IPrimavera_Service">
      <soap:address location="http://192.168.0.253:8080/Primavera_Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>