WCFPRIMAACSSYS/DemoWebServices/Service References/ServiceReference1/Primavera_Accsys1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PRIMAVERA_ACCSYS_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PRIMAVERA_ACCSYS_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PrimaveraResultStructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="procedimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoProblema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrimaveraResultStructure" nillable="true" type="tns:PrimaveraResultStructure" />
</xs:schema>